<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="header" th:fragment="bodyHeader">
                <a href="/"><h3 class="text-muted">MY BOARD</h3></a>
            </div>
            <div class="py-1 text-center">
                <h2 th:text="#{page.home}">홈 화면</h2>
            </div>

            <br>
            <div class="row">
                <div class="col">
                    <button type="button" class="w-100 btn btn-primary btn-lg"
                            onclick="location.href='loginForm.html'"
                            th:onclick="|location.href='@{/login}'|" th:text="#{button.login}">로그인</button>
                </div>
                <div class="col">
                    <button type="button" class="w-100 btn btn-secondary btn-lg"
                            onclick="location.href='createMemberForm.html'"
                            th:onclick="|location.href='@{/members/new}'|" th:text="#{button.newMember}">회원 가입</button>
                </div>
            </div>
            <br/>

            <script>
                var result = '[[${result}]]';
                if (result === 'addOK') {
                    alert('회원가입이 완료되었습니다.');
                }

            </script>
            <div th:replace="fragments/footer :: footer" />
        </div>
    </div>
</div> <!-- /container -->
</body>
</html>